body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
}

section {
    max-width: 44.5rem;
    padding: 0;
    color: #3c4043;
    line-height: 1.25rem;
}

section ul {
    margin: 0;
    outline: 0;
    padding: 0;
    display: inline-block;
    max-width: 44.5rem;
}

section li {
    min-height: 3.125rem;
    vertical-align: top;
    display: inline-block;
}

section li > a {
    max-height: 7rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: .0625rem solid #dadce0;
    border-radius: .5rem;
    display: block;
}

section li img {
    width: 4rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section li span {
    height: auto;
    display: block;
    margin: .5rem 0;
    text-align: center;
}
